.big-footer {
  background: #21263f;
  color: #fff;
  width: 100%;
  border-top: 1px solid #323a5f;
  padding: 30px 10px;
}

.big-footer-social {
  display: flex;
}

.big-footer h4 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.2;
  text-transform: uppercase;
}

.big-footer a,
.big-footer a:hover,
.big-footer p {
  color: #fff;
}

.big-footer p.copyright {
  width: 100%;
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #96a1db;
}

.big-footer .eth-container {
  display: flex;
  justify-content: space-between;
}

.big-footer .big-footer-icon {
  display: inline-flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(115, 110, 125, 0.1); */
  border-radius: 68px;
  margin-right: 26px;
}

.big-footer .big-footer-icon svg {
  width: 48px;
  height: auto;
}

.big-footer a.big-footer-button {
  display: inline-flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid #736e7d;
  padding: 2px 40px 2px 36px;
  position: relative;
  transform: translateY(7px);
}

.big-footer a.big-footer-button:hover {
  text-decoration: none;
  background-color: rgba(115, 110, 125, 0.1);
}

.big-footer a.big-footer-button svg {
  width: 48px;
  height: auto;
}

@media only screen and (max-width: 991px) {
}
