.LoginItemContainer {
  width: 368px;
  height: 474px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(22, 21, 24, 1);
}

.LoginItemContainer.loading {
  cursor: default;
}

.LoginItemContainer.loading.active .EthConnectAdvice {
  color: white;
}

.LoginItemContainer .ui.loader.massive {
  box-sizing: border-box;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 0 25px, 0 0 50px, 0 0 100px; */
}

.LoginItemContainer .loader-background {
  top: 4px;
  left: 4px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(0, 0, 0, 0.1);
  position: absolute;
}

.LoginItemContainer .LoginItemContainer__BackLayer,
.LoginItemContainer .LoginItemContainer__Content {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.LoginItemContainer .LoginItemContainer__BackLayer {
  position: absolute;
  background: linear-gradient(116.34deg, #ffbc5b 0%, #ff2d55 50.52%, #c640cd 100%);
  padding: 4px;
  box-sizing: border-box;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); */
  transition: transform ease 0.3s, box-shadow ease 0.3s;
  transform: scale(0.92, 0.94);
}

.LoginItemContainer:hover .LoginItemContainer__BackLayer,
.LoginItemContainer.active .LoginItemContainer__BackLayer {
  transform: scale(1, 1);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

.LoginItemContainer.LoginWalletItem .LoginItemContainer__BackLayer::before {
  content: '';
  display: block;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(7.7deg, #306494 -1.97%, #21263f 97.98%);
  /* background-color: rgba(236, 235, 237, 1); */
  border-radius: 13px;
  /* border: 4px solid white; */
}

.LoginItemContainer.LoginGuestItem .LoginItemContainer__BackLayer::before {
  content: '';
  display: block;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(7.7deg, #514592 -1.97%, #21263f 97.98%);
  /* background-color: rgba(236, 235, 237, 1); */
  border-radius: 13px;
  /* border: 4px solid white; */
}
/* .LoginItemContainer .LoginItemContainer__BackLayer::after {
  background-color: white;
}

.LoginItemContainer .LoginItemContainer__BackLayer::before {
  background-color: rgba(236, 235, 237, 1);
} */

.LoginItemContainer.LoginWalletItem .LoginItemContainer__Content {
  background: linear-gradient(7.7deg, #306494 -1.97%, #21263f 97.98%);
  filter: drop-shadow(0px 5px 20px rgba(55, 55, 79, 0.1));
  border-radius: 15px;
  width: 340px;
  height: 448px;
  position: absolute;
  box-sizing: border-box;
  padding: 30px;
  overflow: hidden;
  border: 1px solid rgba(65, 166, 239, 0.3);
}

.LoginItemContainer.LoginWalletItem:hover .LoginItemContainer__Content {
  border: none;
}

.LoginItemContainer.LoginGuestItem .LoginItemContainer__Content {
  background: linear-gradient(7.7deg, #514592 -1.97%, #21263f 97.98%);
  filter: drop-shadow(0px 5px 20px rgba(55, 55, 79, 0.1));
  border-radius: 15px;
  width: 340px;
  height: 448px;
  position: absolute;
  box-sizing: border-box;
  padding: 30px;
  overflow: hidden;
  border: 1px solid rgba(127, 100, 226, 0.3);
}

.LoginItemContainer.LoginGuestItem:hover .LoginItemContainer__Content {
  border: none;
}

.LoginItemContainer.loading .LoginItemContainer__Content {
  opacity: 0.5;
}

.LoginItemContainer .LoginItemContainer__Content h2 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  transform: translate(-3px, 50px);
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform ease 0.3s;
}

.LoginItemContainer .LoginItemContainer__Content h2 {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

.LoginItemContainer.active .LoginItemContainer__Content h2,
.LoginItemContainer:hover .LoginItemContainer__Content h2 {
  transform: translate(-3px, 40px);
}

.LoginItemContainer .LoginItemContainer__Content p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 40px;
  transform: translate(0, 360px);
  transition: transform ease 0.3s;
}

.LoginItemContainer.active .LoginItemContainer__Content p,
.LoginItemContainer:hover .LoginItemContainer__Content p {
  transform: translate(0, 290px);
}

.LoginItemContainer .LoginItemContainer__Content img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform ease 0.3s;
}

.LoginItemContainer.active .LoginItemContainer__Content img,
.LoginItemContainer:hover .LoginItemContainer__Content img {
  transform: translate(-50%, -70%);
}

.LoginItemContainer .LoginItemContainer__Content .ui.button,
.LoginItemContainer .LoginItemContainer__Content .ui.button {
  position: absolute !important;
  opacity: 0 !important;
  bottom: 30px;
  transition: opacity ease 0.3s;
  width: 280px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
  height: 56px;
  background: linear-gradient(90deg, #ff7c4c 20%, #ffb03a 101.82%);
  border-radius: 100px;
}

.LoginItemContainer__Content .ui.button:hover {
  background: linear-gradient(90deg, #ffb03a 20%, #ff7c4c 101.82%);
  transform: none;
}

.LoginItemContainer.active .LoginItemContainer__Content .ui.button,
.LoginItemContainer:hover .LoginItemContainer__Content .ui.button {
  opacity: 1 !important;
}

.LoginItemContainer.active .LoginItemContainer__Content .ui.button:disabled,
.LoginItemContainer:hover .LoginItemContainer__Content .ui.button:disabled {
  opacity: 0.5 !important;
}
